 .nadiamuhe {
    font-size:100px;
 }
 body {
   background-color:#F7F9F9 ;
 }

 h1 {
  color:#95818D;
  font-family:-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
 }

 